body {
	background-color: blue;
}

body {
	background-color: #0f121f;
	background-image: url(stars.png) ;
	background-repeat: no-repeat;
	color : #fff;

}


.block {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.block:hover {
background: #434343;
letter-spacing: 3px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
